
.dropdown-menu .ivu-select-selection {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    /* background: #f91E37; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
}
.dropdown-menu .ivu-select-dropdown {
    overflow: inherit;
}

.selectWidth .ivu-select-selection {
    width: 18rem;
}


.boards-title-right .dropdown-menu .ivu-select-selection {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #000;
    background: #F0F2F5; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
}
.boards-title-right .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    color: #657180;
}
.useFor .ivu-poptip-body {
    padding: 0px;
}
.spaceList>li {
  padding: 0 8px;
  cursor:pointer;
}
.spaceList>li:hover {
    background: #eee;
}

.spaceList>li:first-child{
            border-radius: 5px 5px 0 0 ;
          }
.spaceList>li:last-child{
    border-radius:  0 0 5px 5px;
 }

 .set .ivu-poptip-body{
     padding:0;
 }

